 Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# End of https://www.gitignore.io/api/visualstudiocode

runs/
data/
wandb/
6_experiments/
configs_old*
configs/configs/*
__pycache__


# extras
.conda/
.venv/
imgui.ini

*.pyc

test_configs/

tmp_*
tmp/*
tests/artifacts/
slurm-*
local_outputs/
unet_model.pth
imgui.ini
.idea/misc.xml
configs/campaign_*
