absl-py
blobfile
cachetools
certifi
charset-normalizer
clean-fid
contextlib2
filelock
google-auth
google-auth-oauthlib
idna
lmdb
lxml
ml-collections
numpy
oauthlib
opencv-python
Pillow
PyYAML
requests
requests-oauthlib
rsa
scipy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
torch
torchvision 
tqdm

# additional
matplotlib
diffusers
jupyter
ipykernel
scikit-image
scikit-learn

# datasets
kaggle


# taichi
torch
numpy
matplotlib
seaborn
numba
taichi
vtk
argparse
opencv-python
scipy